{% if cv.education %}
  <div id="education" class="entry">
    <header class="entry-header">
      <h1 class="entry-title">Education</h1>
    </header>

    <div class="entry-content">
      {% for e in cv.education %}
        <h2 class="institution">
          <a href="{{ e.website }}" id="link_color" target="_blank">{{ e.institution }}</a>
        </h2>
        <div class="studyType">{{ e.studyType }}</div>
        <div class="area">{{ e.area }}</div>
        <div class="date" id="smaller_font">
          {% if e.startDate %}
            <span class="startDate">{{ e.startDate }}</span>
          {% endif %}
          {% if e.endDate == '' %}
            <span class="endDate">{{ site.data.theme.t.present | default: 'Present' | prepend: ' &mdash; ' }}</span>
          {% else %}
            <span class="endDate">{{ e.endDate | prepend: ' &mdash; ' }}</span>
          {% endif %}
        </div>
        <!-- {% if e.courses %}
          <h5 class="courses-title">Courses</h5>
          <ul class="courses">
            {% for course in e.courses %}
              <li>{{ course }}</li>
            {% endfor %}
          </ul>
        {% endif %} -->
      {% endfor %}
    </div>
  </div>
{% endif %}
