{% if cv.publications %}
  <div id="publications" class="entry">
    <header class="entry-header">
      <h1 class="entry-title">Publications</h1>
    </header>

    <div class="entry-content">
      {% for p in cv.publications %}
        {% if p.name %}
          <h2 class="title">
            {% if p.website %}
              <a href="{{ p.website }}" id="link_color" target="_blank">{{ p.name }}</a>
            {% else %}
              {{ p.name }}
            {% endif %}
          </h2>
        {% endif %}
        {% if p.releaseDate %}
          <div class="date">{{ p.releaseDate }}</div>
        {% endif %}
        <!-- {% if p.publisher %}
          <h5 class="publisher">{{ p.publisher | prepend: 'Published by ' }}</h5>
        {% endif %} -->
        {% if p.summary %}
          <div class="summary">{{ p.summary | markdownify }}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
