---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#smaller_font {
  font-size: 0.9em;
}

#link_color {
  color: $primary-color;
}

#new_site_tite {
  font-family: 'Miniver', cursive;
  color: $primary-color;
  font-size: $type-size-2;
}
