---
layout: default
---

{% assign cv = site.data.cv %}
<!-- {% include cv/intro.html %} -->

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>
    <div>
      <div class="entries">
        <br />
        {% include cv/work.html %}
        <hr>
        {% include cv/education.html %}
        <hr>
        {% include cv/publications.html %}
        <hr>
        {% include cv/skills.html %}
        <hr>
        {% include cv/interests.html %}
        <hr>
      </div>
    </div>
  </div>
</main>
